{% extends 'base.html' %}
{% load static %}

{% block title %}Assignment Dashboard{% endblock %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'css/assignment.css' %}">

{% block body %}
{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert alert-success">{{message}}</div>
{% endif %}
{% endfor %}
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header" style="background-color:#f5a623;">
          <h2>Post Assignment</h2>
        </div>
        <div class="card-body shadow-lg">
          <form method="POST">
            {% csrf_token %}
            <div class="form-group m-2">
              <label for="course">Course:</label>
              <select class="form-control" id="course" name="course" required>
                <option value="">Select Course</option>
                <option value="BSC Hons">BSC</option>
                <option value="BBA Hons">BBA</option>
              </select>
            </div>
            <div class="form-group m-2">
              <label for="level">Class:</label>
              <select class="form-control" id="level" name="level" required>
                <option value="">Select Class</option>
                <option value="Level 4">Level 4</option>
                <option value="Level 5">Level 5</option>
                <option value="Level 6">Level 6</option>
              </select>
            </div>
            <div class="form-group m-2">
              <label for="assignment">Assignment Details:</label>
              <textarea class="form-control" id="assignment" name="assignment" rows="3" required></textarea>
            </div>
            <div class="form-group m-2">
              <label for="due_date">Due Date:</label>
              <div class="row">
                <div class="col">
                  <input type="date" class="form-control" id="due_date" name="date" required>
                </div>
                <div class="col">
                  <input type="time" class="form-control" id="due_time" name="time" required>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Post Assignment</button>
          </form>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="card mt-4 shadow">
        <div class="card-header bg-secondary text-white">
          <h2>Recent Assignments</h2>
        </div>
        <div class="card-body">
          <ul class="list-group">
            {% for assignment in assignments %}
            <li class="list-group-item">
              <a href="/staff/delete_assignment/{{assignment.id}}/" class="btn-close" aria-label="Close"
                style="margin-left: 520px;"></a>
              <div class="row">
                <div class="col-md-8">
                  <h5>{{ assignment.course.course }} - {{ assignment.level.level }}</h5>
                  <p>{{ assignment.assignment }}</p>
                </div>
                <div class="col-md-3">
                  <div class="assignment-details">
                    <p class="due-date">Due Date:</p>
                    <p class="date-time">{{assignment.due_date}} {{ assignment.due_time|time:"g:i A" }} </p>
                  </div>
                </div>
              </div>

            </li>
            {% empty %}
            <li class="list-group-item">No assignments posted yet.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}