{% extends 'base.html' %}

{% block title %} Attendence {% endblock %}
{% block body %}
{% if messages %}
{% for message in messages %} 
{% if message.tags == "error" %}
<div class="alert alert-danger">{{message}}</div>
{% endif %}
{% endfor %}
{% endif %}
<div class="container">
  <form method="POST">
    {% csrf_token %}
        <h1 class="p-1" style="background-color: cadetblue; text-align: center;">Attendance Dashboard</h1>

        <div class="card m-2 shadow-lg" style="width: 400px;">
            <div class="card-body">
                <h5 class="card-title">Select Course</h5>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="course" id="bsc" value="BSC Hons">
                  <label class="form-check-label" for="bsc">
                      BSC
                  </label>
              </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="course" id="bba" value="BBA Hons">
                    <label class="form-check-label" for="bba">
                        BBA
                    </label>
                </div>
                
            </div>
        </div>

        <div class="card m-2 shadow-lg" style="width: 400px;">
            <div class="card-body">
                <h5 class="card-title">Select Class</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="level" id="l4" value="Level 4">
                    <label class="form-check-label" for="l4">
                        L-4
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="level" id="l5" value="Level 5">
                    <label class="form-check-label" for="l5">
                        L-5
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="level" id="l6" value="Level 6">
                    <label class="form-check-label" for="l6">
                        L-6
                    </label>
                </div>
            </div>
        </div>

        <button type="submit"  name="action" value = "sort" class="btn btn-primary m-2">Take Attendance</button>
      </form>
    </div>

    {% if students %}
    <hr>
    <div class="container">
      <form method="post">
        {% csrf_token %}
        <table class="table table-striped">
          <thead >
            <tr>
              <th scope="col">S.N</th>
              <th scope="col">Std ID</th>
              <th scope="col">Name</th>
              <th scope="col">Attendance</th>
            </tr>
          </thead>
          <tbody>
            {% for student in students %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ student.student_id }}</td>
              <td>{{ student.name }}</td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="attendance[]" value="{{ student.student_id }}" id="attendance_{{ student.student_id }}">
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      
    <button type="submit" name="action" value = "attendance" class="btn btn-primary" style="margin-left:1200px;">Submit</button>
  </form>
</div>
{% endif %}
{% endblock %}
