{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Grades</title>

<link rel="stylesheet" href="{% static 'staff_css/grades.css' %}">
<link rel="stylesheet" href="{% static 'staff_css/base.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-...your-integrity-hash-here..." crossorigin="anonymous" />
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
          <div class="logo">
              <span class="logo-text">My<span class="logo-highlight">School</span></span>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-left: 40px;">
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="/staff/staff_dashboard"
                          style="margin-left: 50px;">Dashboard</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Students
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'student_registration' %}">Register Students</a>
                          </li>
                          <li><a class="dropdown-item" href="{% url 'view_student' %}">View Students</a></li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="{% url 'course' %}">Course</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link " href="{% url 'assignment' %}">Assignment</a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                          aria-expanded="false">
                          Grades
                      </a>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'grades' %}">Add Grades</a></li>
                          <li><a class="dropdown-item" href="{% url 'view_grades' %}">View Grades</a></li>
                      </ul>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="/staff/attendance/">Attendence</a>
                  </li>
                  <form class="d-flex" role="search" style="margin-left: 220px;" method="POST">
                      {% csrf_token %}
                      <input class="form-control me-2" type="search" name="search" placeholder="Search"
                          aria-label="Search" {% if search_query %} value="{{ search_query }}" {% endif %}>
                      <button class="btn btn-outline-dark" type="submit">Search</button>
                  </form>
              </ul>
          </div>
      </div>
  </nav>
  <div class="container center d-flex align-items-center justify-content-center">
    <form method="POST" action="{% url 'grades' %}" class="card p-4 shadow-lg m-2 bg-light" style="max-width: 520px;">
      {% csrf_token %}
      <div class="mb-3">
        <label for="exam" class="form-label"><i class="fas fa-file-alt me-2"></i>Select Exam:</label>
        <select id="exam" name="exam" class="form-select" required>
          {% if not selected_exam %}
          <option value="" disabled selected hidden>Exam Type</option>
          {% endif %}
          {% if selected_exam %}
          <option value="{{selected_exam}}" selected>{{selected_exam}}</option>
          {% endif %}
          {% for exam_option in exams %}
            <option value="{{ exam_option.exam }}">{{ exam_option.exam }}</option>
          {% endfor %}
        </select>
      </div>
  
      <div class="mb-3 d-flex justify-content-center">
        <label for="level" class="form-label " style="margin-top: 17px;"><i class="fas fa-layer-group "></i></label>
        <select class="form-select m-2" aria-label="Default select example" name="level" id="level" required>
          {% if not level %}
          <option selected>Select Level</option>
          {% endif %}
          {% if level %}
          <option selected>{{level}}</option>
          {% endif %}
          <option value="Level 4">Level 4</option>
          <option value="Level 5">Level 5</option>
          <option value="Level 6">Level 6</option>
        </select>
        <button type="submit" name="action" value="BSC Hons" class="btn btn-outline-primary me-2">
          BSC
        </button>
        <button type="submit" name="action" value="BBA Hons" class="btn btn-outline-success">
          BBA
        </button>
      </div>
  
      <hr>
  
      <div class="mb-3">
        <label for="student" class="form-label"><i class="fas fa-user me-2"></i>Select Student:</label>
        <select id="student" name="student" class="form-select">
          <option value="" disabled selected hidden>Select Student</option>
          {% for student in students %}
            <option value="{{ student.id }}">{{ student.name }}</option>
          {% endfor %}
        </select>
      </div>
  
      {% for subject in subjects %}
    <div class="row mb-3 align-items-center">
      <div class="col-7">
        <label for="subject{{subject.sub_name}}" class="form-label"><i class="fas fa-book me-2"></i>{{ subject.sub_name }}:</label>
      </div>
      <div class="col-5">
        <input type="text" id="subject{{subject.sub_name}}" name="subject{{subject.sub_name}}" class="form-control" placeholder="Enter Marks" required>
      </div>
    </div>
    {% endfor %}  
    
    <button type="submit" name="action" value="submit" class="btn btn-success w-100" style="padding: 10px;">
      <i class="fas fa-plus-circle me-2"></i>Add Grades
    </button>
    </form>
  </div>
  
<footer style="margin-top: 20px;">
  <p>&copy; 2023 Designed and Built by Roman Humagain</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous">
  </script>
</body>

</html>
