{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Student</title>
  <link rel="stylesheet" href="{% static 'staff_css/view_student.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-...your-integrity-hash-here..." crossorigin="anonymous" />
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="logo">
        <span class="logo-text">My<span class="logo-highlight">School</span></span>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/staff/staff_dashboard"
              style="margin-left: 50px;">Dashboard</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Students
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'student_registration' %}">Register Students</a></li>
              <li><a class="dropdown-item" href="{% url 'view_student' %}">View Students</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'course' %}">Course</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'assignment' %}">Assignment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Grades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/staff/attendance/">Attendence</a>
          </li>

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

  <body>
    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success">{{message}}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <form>
      <div class="d-flex justify-content-center m-1">
        <button type="submit" name="action" value="all" class="btn btn-outline-danger me-2 ">
          All
        </button>
        <button type="submit" name="action" value="bsc" class="btn btn-outline-primary me-2">
          BSC
        </button>
        <button type="submit" name="action" value="bba" class="btn btn-outline-success">
          BBA
        </button>
      </div>
    </form>

    {% if not error_message %}
    <div class="container">
      <table class="table table-striped table-hover shadow-lg m-4" style="font-size: small;">
        <thead>
          <tr>
            <th scope="col" class="small"></th>
            <th scope="col" class="small">Name</th>
            <th scope="col" class="small">Email</th>
            <th scope="col" class="small">Address</th>
            <th scope="col" class="small">D.O.B</th>
            <th scope="col" class="small">Phone No</th>
            <th scope="col" class="small">Intake</th>
            <th scope="col" class="small">Level</th>
            <th scope="col" class="small">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for data in querySet %}
          <tr>
            <td>
              {% if data.profile_pic %}
              <img src="/media/{{data.profile_pic}}" alt="Profile Picture" class="rounded-circle shadow-lg profile-img"
                style="width: 45px; height: 45px;">
              {% else %}
              <img src="{% static 'images/blankpp.jpg' %}" alt="Profile Picture" class="rounded-circle profile-img"
                style="width: 45px; height:45px;">
              {% endif %}

            </td>
            <td>{{data.name}}</td>
            <td>{{data.user.username}}</td>
            <td>{{data.address}}</td>
            <td>{{data.dob}}</td>
            <td>{{data.phone_no}}</td>
            <td>{{data.intake}}</td>
            <td>{{data.level}}</td>
            <td>
              <a href="" class="btn btn-outline-danger send-email-btn btn-sm" data-bs-toggle="modal"
                data-bs-target="#mailModal" data-email="{{ data.user.username }}">
                <i class="fas fa-envelope fa-ys"></i> <!-- FontAwesome mail icon -->
              </a>

            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if querySet.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ querySet.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item disabled">
            <a class="page-link">
              Page {{ querySet.number }} of {{ querySet.paginator.num_pages }}
            </a>
          </li>

          {% if querySet.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ querySet.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?page={{ querySet.paginator.num_pages }}" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}
    {% if error_message %}
    <div class="alert alert-danger">{{error_message}}</div>
    {% endif %}
    <div class="modal fade" id="mailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="mailModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="mailModal">Compose Email</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group m-2">
                  <label for="to">To:</label>
                  <input type="email" class="form-control" id="to" name="to" required />
                </div>
                <div class="form-group m-2">
                  <label for="inputSubject">Subject:</label>
                  <input type="text" class="form-control" id="inputSubject" name="subject" required />
                </div>
                <div class="form-group m-2">
                  <label for="inputMessage">Message:</label>
                  <textarea class="form-control" id="inputMessage" name="message" rows="10" style="height: 100px"
                    required></textarea>
                </div>
                <div class="form-group">
                  <label for="inputAttachments">Attachments:</label>
                  <input type="file" class="form-control-file" id="inputAttachments" name="attachment" multiple />
                </div>
                <hr />
                <div class="form-group">
                  <button type="submit" name="action" value="send_email" class="btn btn-primary">
                    Send
                  </button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Discard
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const sendEmailButtons = document.querySelectorAll(".send-email-btn");
        const emailInput = document.querySelector("#to");

        sendEmailButtons.forEach(function (button) {
          button.addEventListener("click", function (event) {
            const to = event.target.dataset.email;
            emailInput.value = to;
          });
        });
      });
    </script>
    <footer style="margin-top: 20px;">
      <p>&copy; 2023 Designed and Built by Roman Humagain</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"></script>

  </body>

</html>