.logo {
  /* margin-left: 10px; */
  width: 75px;
  height: 75px;
  background-color: #f06292;

  /* Set your desired background color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-text {
  color: #0c0c0c;
  /* Set your desired text color */
  font-size: 20px;
  font-weight: bold;
}

.logo-highlight {
  color: #0cd0cd;
  margin-left: 4px;
  /* Set your desired highlight color */
}
body {
  font-family: Arial, sans-serif;
  /* padding: 20px; */
}

.container {
  max-width: 800px;
  /* margin: 0 auto; */
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #f2f2f2;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  color: cadetblue;
}

.certificate-details {
  margin-bottom: 40px;
}

.student-name {
  font-size: 24px;
  /* font-weight: bold; */
  text-align: center;
  margin-bottom: 20px;
}

.course {
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.date {
  text-align: right;
}

.signature {
  width: 150px;
  height: 50px;
  margin-top: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.marks-details {
  margin-top: 20px;
}

.marks-details p {
  margin: 5px;
}

.student-info {
  /* width: calc(100% - 120px); Adjust the width as needed */
  float: left;
  /* margin-left: 30px; */
}

.profile-pic {
  width: 100px;
  float: right;
}

footer {
  color: #766f6f;
  padding: 10px;
  text-align: center;
  font-style: italic;
}