.logo {
  display: flex;
  align-items: center;
}

.logo .icon {
  width: 40px; /* Adjust the width and height according to your icon */
  height: 40px;
  background-color: #333; /* Adjust the background color to your preference */
  border-radius: 50%;
  margin-right: 10px;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo h1 {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #333; /* Adjust the color to your preference */
  /* You can add more CSS styles for the heading if needed */
}

footer {
  color: #766f6f;
  padding: 10px;
  text-align: center;
  font-style: italic;
}

