{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'student_css/gradesheet.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-...your-integrity-hash-here..." crossorigin="anonymous" />
</head>

<style>
  .container {
        max-width: 800px;
        /* margin: 0 auto; */
        border: 1px solid #ccc;
        padding: 20px;
        background-color: #f2f2f2;
    }

    h2 {
        text-align: center;
        margin-bottom: 40px;
        color: cadetblue;
    }
</style>
<body>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-2 bg-body-tertiary position-fixed">
        <nav class="navbar flex-column">
          <div class="logo">
            <span class="logo-text">My<span class="logo-highlight">School</span></span>
          </div>
          <ul class="navbar-nav p-4" style="font-family: sans-serif;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/student/student_dashboard/{{uid}}/">Dashboard</a>
            </li>
            <li class="nav-item d-flex align-items-center" style="position: relative;">
              <a class="nav-link" href="/student/student_dashboard/{{uid}}/#notice-details" style="margin-top: 15px;">Notice</a>
              {% if notice_count > 0 %}
              <span class="visually-hidden">Notice</span>
              <span class="badge rounded-pill bg-danger position-absolute top-0 end-0 translate-middle-y" style="transform: translateY(-50%); margin-right: 38px; margin-top: 40px; padding: .2em .4em; font-size: 78%;">{{notice_count}}</span>
              {% endif %}
          </li> 
          
            <li class="nav-item d-flex align-items-center" style="position: relative;">
              <a class="nav-link" href="{% url 'std_assignment' uid %}" style="margin-top: 15px; padding-right: 10px;">Assignment</a>
              {% if ass_count > 0 %}
              <span class="visually-hidden">Assignment</span>
              <span class="badge rounded-pill bg-danger position-absolute top-0 end-0 translate-middle-y" style="transform: translateY(-50%); margin-right: -10px; margin-top: 40px; padding: .2em .4em; font-size: 78%;">{{ass_count}}</span>
              {% endif %}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student/gradesheet/{{uid}}/" style="margin-top: 15px;">Grades</a>
            </li>
            <li class="nav-item d-flex">
              <a class="nav-link" href="/student/std_attendance/{{uid}}/" style="margin-top: 15px;">Attendance</a>
              {% if absent_error %}
              <i class="fa fa-exclamation-circle" style="color: red; padding-left: 5px; margin-top: 30px;"></i>
              {% elif pending_status %}
              <i class="fas fa-spinner" style="color: orange; padding-left: 5px; margin-top: 30px;"></i>
              {% else %}
              <i class="fa fa-check-circle" style="color: blue; padding-left: 5px; margin-top: 30px;"></i>
              {% endif %}  
            </li>
          
            <a href="/student/signout/" class="btn btn-danger" style="margin-top:   180px;">Sign Out</a>
          </ul>
        </nav>
      </div>


      <div class="col-lg-10 offset-lg-2">
        
        <form class="d-flex" role="search" style="margin-top: 10px; margin-left: 910px; width: 300px;" method="POST">
          {% csrf_token %}
          <input class="form-control me-2" type="search" name="search" placeholder="Search"
              aria-label="Search" {% if search_query %} value="{{ search_query }}" {% endif %}>
          <button class="btn btn-outline-dark" type="submit">Search</button>
      </form>

        {% for result in results %}
        <h3 class="m-2" style="text-align: center;">{{result.exam.exam}}</h3>
        <div class="container">
          {% if result.rank != None %}
          <h2 style="font-weight: bold">Marksheet</h2>
          <div class="certificate-details">
            <div class="student-info">
              <p class="student-name">
                This is to certify that <strong>Mr {{ student.name }}</strong>
              </p>
              <p class="course">
                has successfully completed the <strong>{{ result.exam.exam }}</strong> held on
                <strong>{{result.exam.date}}</strong>
              </p>
            </div>
            <div class="profile-pic">
              {% if student.profile_pic %}
              <img src="/media/{{ student.profile_pic }}" style="width: 100px; height: 100px" alt="Profile Picture" />
              {% else %}
              <img src="{% static 'images/blankpp.jpg' %}" style="width: 100px; height: 100px" alt="Profile Picture" />
              {% endif %}
            </div>
            <div style="clear: both;"></div>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Subject</th>
                <th>Marks</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              {% for subject_mark in result.subjectMarks %}
              <tr>
                <td>{{ subject_mark.subject.sub_name }}</td>
                <td>{{ subject_mark.marks }}</td>
                <td>
                  {% if subject_mark.marks >= 40 %}
                  <div style="color: rgb(11, 116, 130)">Pass</div>
                  {% else %}
                  <div style="color: red">Fail</div>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <div class="marks-details"
            style="font-size: small; font-family: 'Times New Roman', Times, serif; margin-top: 50px;">
            <p>Total Marks: <strong>{{ result.total_marks }}</strong></p>
            <p>Percentage: <strong>{{ result.percentage|floatformat:1 }} %</strong></p>
            <p>Rank: <strong>{{ result.rank }}</strong></p>
          </div>
          {% endif %}

          {% if result.rank == None %}
          <div class="alert alert-danger">Result Not Published For {{result.exam.exam}}</div>
          {% endif %}
        </div>
        {% endfor %}
        
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>
<footer style="margin-top: 20px; color: #635d5d;
padding: 10px;
text-align: center;
font-style: italic;
background-color: white;">
  <p>&copy; 2023 Designed and Built by Roman Humagain</p>
</footer>

</html>