{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>

  <link rel="stylesheet" href="{% static 'student_css/std_assignment.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-...your-integrity-hash-here..." crossorigin="anonymous" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
  footer{
  margin-top: 20px;
  color:#635d5d;
  /* padding: 10px; */
  text-align: center;
  font-style: italic;
  background-color: white; 
}
 /*
</style>
<body>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-2 bg-light position-fixed">
        <nav class="navbar flex-column">
          <div class="logo">
            <span class="logo-text">My<span class="logo-highlight">School</span></span>
          </div>
          <ul class="navbar-nav p-4" style="font-family: sans-serif;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/student/student_dashboard/{{uid}}/">Dashboard</a>
            </li>
            <li class="nav-item d-flex align-items-center pr-5" style="position: relative;">
              <a class="nav-link" href="/student/student_dashboard/{{uid}}/#notice-details"
                style="margin-top: 15px;">Notice</a>
              {% if notice_count > 0 %}
              <span class="visually-hidden">Notice</span>
              <span class="badge rounded-pill bg-danger position-absolute top-0 end-0 translate-middle-y"
                style="transform: translateY(-50%); margin-right: 38px; margin-top: 40px; padding: .2em .4em; font-size: 78%;">{{notice_count}}</span>
              {% endif %}
            </li>
            <li class="nav-item d-flex align-items-center" style="position: relative;">
              <a class="nav-link" href="{% url 'std_assignment' uid %}"
                style="margin-top: 15px; padding-right: 10px;">Assignment</a>
              {% if ass_count > 0 %}
              <span class="visually-hidden">Assignment</span>
              <span class="badge rounded-pill bg-danger position-absolute top-0 end-0 translate-middle-y"
                style="transform: translateY(-50%); margin-right: -10px; margin-top: 40px; padding: .2em .4em; font-size: 78%;">{{ass_count}}</span>
              {% endif %}
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/student/gradesheet/{{uid}}/" style="margin-top: 15px;">Grades</a>
            </li>
            <li class="nav-item d-flex">
              <a class="nav-link" href="/student/std_attendance/{{uid}}/" style="margin-top: 15px;">Attendance</a>
              {% if absent_error %}
              <i class="fa fa-exclamation-circle" style="color: red; padding-left: 5px; margin-top: 30px;"></i>
              {% elif pending_status %}
              <i class="fas fa-spinner" style="color: orange; padding-left: 5px; margin-top: 30px;"></i>
              {% else %}
              <i class="fa fa-check-circle" style="color: blue; padding-left: 5px; margin-top: 30px;"></i>
              {% endif %}
            </li>
            <a href="/student/signout/" class="btn btn-danger" style="margin-top:200px;">Sign Out</a>
          </ul>
        </nav>
      </div>

      <div class="col-lg-10 offset-lg-2 pt-5">
        <div class="container  m-1">
          <div class="row">
            <!-- Submission Section -->
            <div class="col-md-6">
              <div class="card shadow-lg rounded">
                <div class="card-header text-white py-3 d-flex justify-content-center align-items-center" style="background-color:#0cb1af;">
                  <i class="fas fa-upload text-white mr-2"></i>
                  <h2 class="mb-0">Submit Assignments</h2>
                </div>
                <div class="card-body">
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="assignmentSelect" class="form-label " style="color: black; font-weight: 500;">Select Assignment <span class="text-danger" style="font-weight: bold;">*</span></label>
                      <select class="form-control shadow-sm rounded" id="assignmentSelect" name="assignment" required>
                        {% for assignment in assignments %}
                        <option value="{{ assignment.id }}">{{ assignment.assignment }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="mb-3">
                      <label for="assignmentFile" class="form-label" style="color: black; font-weight: 500;">Upload Your Work </label>
                      <input type="file" class="form-control shadow-sm rounded" id="assignmentFile" name="assignmentFile" >
                    </div>
                    <div class="mb-3">
                      <label for="assignmentDesc" class="form-label" style="color: black; font-weight: 500;">Describe your work <span class="text-danger" style="font-weight: bold;">*</span></label>
                      <textarea class="form-control shadow-sm rounded" id="assignmentDesc" rows="3" name="assignmentDesc" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary rounded">Submit</button>
                  </form>
                </div>
              </div>
            </div>
            <!-- Recent Assignments Section -->
            <div class="col-md-6">
              <div class="card" style="font-weight: 400; width: 600px;">
                <div class="card-header bg-secondary text-white">
                  <h2 id="assignment-details">Recent Assignments</h2>
                </div>
                <div class="card-body">
                  <ul class="list-group">
                    {% for assignment in assignments %}
                    <li class="list-group-item">
                      <div class="d-flex justify-content-between align-items-start">
                        <div style="width: 80%;">
                          <p class="posted-date" style="font-weight: 300; font-size: small; ">Posted on: {{ assignment.posted_date|date:"F d, Y" }}</p>
                          <p>{{ assignment.assignment }}</p>
                        </div>
                        <div class="text-right" style="width: 30%;">
                          <div class="assignment-details" style="font-size: small;">
                            <p class="due-date">Due Date:</p>
                            <p class="date-time"><strong>{{assignment.due_date|date:"F d"}} {{assignment.due_time|time:"g:i A" }}</strong> </p>
                          </div>
                        </div>
                      </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item">No assignments due left.</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-md-12 mt-4">
              <div class="card shadow rounded">
                <div class="card-header py-3 d-flex justify-content-center align-items-center" style="background-color: #eae6e6;">
                  <i class="fas fa-tasks  mr-2"></i>
                  <h2 class="mb-0 ">Submitted Assignments</h2>
                </div>
                <div class="card-body">
                  <ul class="list-group">
                    {% for submitted_assignment in submitted_assignments %}
                    <li class="list-group-item shadow-sm">
                      <div class="d-flex justify-content-between align-items-start">
                        <div class="submitted-assignment-title">
                          <h6 class="mb-0">{{ submitted_assignment.assignment }}</h6>
                          <p class="m-1 submitted-date" style="font-size: 0.8rem;">Submitted on: {{ submitted_assignment.submitted_date|date:"F d, Y"}}</p>
                        </div>
                        <div class="submitted-assignment-details text-right">
                          <p class="mb-1" style="font-size: 0.9rem;">
                            {% if submitted_assignment.submission_status == "Late Submission" %}
                            <span class="badge bg-danger">{{submitted_assignment.submission_status}}</span>
                            {% elif submitted_assignment.submission_status == "Submitted" %}
                            <span class="badge bg-primary">{{submitted_assignment.submission_status}}</span>
                            {% endif %}
                          </p>
                          <a href="{{submitted_assignment.submitted_assignment.url}}" class="btn btn-secondary btn-sm mt-2">View File</a>
                        </div>
                      </div>
                    </li>
                    {% empty %}
                    <li class="list-group-item">No assignments submitted yet.</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

        <footer>
          <p>&copy; 2023 Designed and Built by Roman Humagain</p>
        </footer>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>