{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Dashboard</title>
  <link rel="stylesheet" href="{% static 'student_css/std_dashboard.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-...your-integrity-hash-here..." crossorigin="anonymous" />
</head>
<script>
function verification_status(){
  alert("please verify your account first !!");
}
</script>
<body>
  <div class="container-fluid ">
    <div class="row">
      <div class="col-lg-2 bg-body-tertiary position-fixed">
        <nav class="navbar flex-column">
          <div class="logo">
            <span class="logo-text">My<span class="logo-highlight">School</span></span>
          </div>
          <ul class="navbar-nav p-4" style="font-family: sans-serif;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/student/student_dashboard/{{uid}}/">Dashboard</a>
            </li>
            <li class="nav-item d-flex align-items-center " style="position: relative;">
              <a class="nav-link" href="/student/student_dashboard/{{uid}}/#notice-details" style="margin-top: 15px; padding-right: 15px;">Notice</a>
              {% if notice_count > 0 %}
              <span class="visually-hidden">Notice</span>
              <span class="badge rounded-pill bg-danger position-absolute top-0 end-0 translate-middle-y" style="transform: translateY(-50%); margin-right: 38px; margin-top: 40px; padding: .2em .4em; font-size: 78%;">{{notice_count}}</span>
              {% endif %}
            </li>
            <li class="nav-item d-flex align-items-center" style="position: relative;">
              {% if not verification_error %}
              <a class="nav-link" href="{% url 'std_assignment' uid %}" style="margin-top: 15px; padding-right: 10px;">Assignment</a>
              {% elif verification_error %}
              <a class="nav-link" href="" onclick="verification_status()" style="margin-top: 15px; padding-right: 10px;">Assignment</a>
              {% endif %}
              {% if ass_count > 0 %}
              <span class="visually-hidden">Assignment</span>
              <span class="badge rounded-pill bg-danger position-absolute top-0 end-0 translate-middle-y" style="transform: translateY(-50%); margin-right: -10px; margin-top: 40px; padding: .2em .4em; font-size: 78%;">{{ass_count}}</span>
              {% endif %}
            </li>
            <li class="nav-item">
              {% if not verification_error %}
              <a class="nav-link" href="/student/gradesheet/{{uid}}/" style="margin-top: 15px;">Grades</a>
              {% elif verification_error %}
              <a class="nav-link" href="" onclick="verification_status()" style="margin-top: 15px; padding-right: 10px;">Grades</a>
              {% endif %}
            </li>
            <li class="nav-item d-flex">
              {% if not verification_error %}
              <a class="nav-link" href="/student/std_attendance/{{uid}}/" style="margin-top: 15px;">Attendance</a>
              {% elif verification_error %}
              <a class="nav-link" href="" onclick="verification_status()" style="margin-top: 15px; padding-right: 10px;">Attendance</a>
              {% endif %}
              {% if absent_error %}
              <i class="fa fa-exclamation-circle" style="color: red; padding-left: 5px; margin-top: 30px;"></i>
              {% elif pending_status %}
              <i class="fas fa-spinner" style="color: orange; padding-left: 5px; margin-top: 30px;"></i>
              {% else %}
              <i class="fa fa-check-circle" style="color: blue; padding-left: 5px; margin-top: 30px;"></i>
              {% endif %}  
            </li>
            <a href="/student/signout/" class="btn btn-danger" style="margin-top:   180px;">Sign Out</a>
          </ul>
        </nav>
      </div>
      <div class="col-lg-10 offset-lg-2">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success' %}
        <div class="alert alert-success">{{message}}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="container">
          <div class="card shadow-lg " style="width: 800px; margin-left: 120px; margin-top: 10px; ">
            <div class="card-header">
              <h4 class="text-center p-2" style="background-color:#0cb1af; color: white; padding: 9px;"><span
                  class="greeting p-1" style="font-size: x-large;"> {{greeting}}!</span> <span class="name"
                  style="font-size: large;"> {{student.name}}</span></h4>
              {% if verification_error %}
              <div class="alert alert-danger d-flex justify-content-between align-items-center">
                <div>{{verification_error}}</div>
                <form method="post">
                  {% csrf_token %}
                  <button type="submit" name="action" value="verify" class="btn btn-primary">Verify</button>
                </form>
              </div>
              {% endif %}
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-4 text-center">
                  <div class="profile-picture m-2">
                    {% if student.profile_pic %}
                    <img src="/media/{{student.profile_pic}}" alt="Profile Picture" class="rounded-circle shadow-lg"
                      style="width: 170px; height: 170px;">
                    {% else %}
                    <img src="{% static 'images/blankpp.jpg' %}" alt="Profile Picture" class="rounded-circle"
                      style="width: 200px; height: 200px;">
                    {% endif %}
                  </div>
                  <div class="profile-details m-2">
                    <p><strong>ID:{{student.student_id}}</strong></p>
                  </div>
                  <form action="" method="post" enctype="multipart/form-data" style="font-size: 0.7rem;">
                    {% csrf_token %}
                    <div class="mb-3">
                      <input class="form-control form-control-sm" type="file" id="profile_pic" name="profile_pic"
                        required style="font-size: xx-small;">
                    </div>
                    <button type="submit" name="action" value="profile_pic" class="btn btn-primary btn-sm">
                      {% if student.profile_pic %}
                      Change Profile Picture
                      {% else %}
                      Upload Profile Picture
                      {% endif %}
                    </button>
                  </form>
                  <button class="btn btn-secondary m-2" data-bs-toggle="modal" data-bs-target="#modalChangePassword."
                    hidden>Change
                    Password</button>
                </div>
                <div class="col-md-8">
                  <div class="profile-details ml-4">
                    <p><strong>Email:</strong> {{student.user.username}}</p>
                    <p><strong>Phone:</strong> {{student.phone_no}}</p>
                    <p><strong>Address:</strong> {{student.address}}</p>
                    <p><strong>D.O.B:</strong> {{student.dob}}</p>
                    <p><strong>Course:</strong> {{student.course.course}}</p>
                    <p><strong>Level:</strong> {{student.level.level}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- change password modal -->
        <!-- Modal -->
        <div class="modal fade" id="modalChangePassword" data-bs-backdrop="static" data-bs-keyboard="false"
          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalChangePassword">Change Password</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form method="post">
                  {% csrf_token %}
                  <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    <label for="password">Password</label>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" name="action" value="change_password" class="btn btn-primary">Change</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
              </div>
              </form>
            </div>
          </div>
        </div>
        <hr>
        <div class="container">
          <div class="card mt-4  shadow justify-content-center"
            style="width: 700px; height: 200px; margin-left: 170px;">
            <div class="card-header bg-secondary text-white">
              <h3 id="notice-details">Recent Notices:</h3>
            </div>
            <div class="card-body">
              <ul class="list-group">
                {% for notice in notices %}
                <li class="list-group-item d-flex justify-content-center align-items-center">
                  <span>{{ notice.notice }}.</span>
                </li>
                {% empty %}
                <li class="list-group-item">No notices posted yet.</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <script>
          // Smooth scrolling to BBA Details section
          $('a[href^="#notice-details"]').on('click', function (event) {
            var target = $(this.getAttribute('href'));
            if (target.length) {
              event.preventDefault();
              $('html, body').stop().animate({
                scrollTop: target.offset().top
              }, 800);
            }
          });
        </script>
        <footer>
          <p>&copy; 2023 Designed and Built by Roman Humagain</p>
        </footer>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>